:root{
  --primary-white: #fff;
  --primary-light-gray: #f4f4f4;
  --primary-gray: #ccd1d9;
  --primary-dark-gray:#666;
  --primary-dark: #343a40;
  --primary-orange:#f9ab00;
  --primary-red:#ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000;
  --primary-transparent-black: #000000b3;
  --primary-green: #00ff00;
  --primary-crimson: #dc143c;
}
nav{
  font-family: 'Ubuntu',sans-serif;
}
.navbar-brand{
  color: var(--primary-white);
  margin-left: 50px;
}
nav a.nav-link{
  color: var(--primary-white);
  margin: 0 .75rem;
  letter-spacing:  .0375rem;
  font-size: 1.2rem;
}
nav ul li{
  text-transform: uppercase;
}
nav a span {
  color: var(--primary-crimson);
}
nav ul li a:hover{
   color: var(--primary-crimson);
   font-size: 20px;
}

 /* header ucun css */
 .header{
   position: relative;
   background: url('/src/img/laptop\ bck.jpg');
   background-size: cover;
   height: 100vh;
   background-position: center;
 }
.info{
  position: absolute;
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info h1{
  color: var(--primary-orange);
  margin-bottom: 25px;
}
.info .text-1{
  color: var(--primary-white);
  font-size: 30px;
}
.info .text-2{
  color: var(--primary-white);
  font-size: 55px;
}
.info .text-3{
  color: var(--primary-crimson);
  font-size: 55px;
}
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}
.CV{
  border: 1px solid var(--primary-red);
  width: 80px;
  height: 60px;
  padding: .625rem;
  margin: 4rem;
  border-radius: 4px;
  color: var(--primary-white);
}
.CV:hover{
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--primary-white);
}

/*about me*/
.profile-img{
 width: 16rem;
 height: 16rem;
 border-radius: 50%;
 border: 1px solid var(--primary-crimson);
 padding: .3rem;
}
.about-heading{
 color: var(--primary-crimson);
 text-transform: uppercase;
}

/* contact us komponenti stil */
.contacts {
  background-color: var(--primary-dark);
  padding:3rem 0;
}
.contacts h1 {
  color: var(--primary-crimson);
  padding-left: 1.3rem 0;
  text-transform: uppercase;
}
.contacts p {
  color: var(--primary-white);
  font-size: 1.2rem;
}

/*  contacts input */
.contacts input, .contacts textarea {
  background:none;
  border: none;
  resize: none;
  box-sizing: border-box;
  color: var(--primary-hover-red);
  outline: none ;
}
.contacts input:focus, .contacts textarea:focus{
  background:transparent;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}
.contacts textarea {
  height: 12.2rem ;
}
.contact-btn {
  margin: 1rem 0 0 0;
}
.btn-main-offer {
  border: 1px solid var(--primary-red);
  margin: 2rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:var(--primary-white);
  background:none;
}
.btn-main-offer:hover {
  background-color: var(--primary-hover-red);
}
.line {
  position: relative;
  top: -0.7rem;
  width: 0;
  height: 0.125rem;
  background-color: var(--primary-orange);
  display: inline-block;
}

/* ecperience */
.experience {
  padding: 3.2rem 0;
  overflow: hidden;
}
.experience h1 {
  text-transform: uppercase;
  color: var(--primary-crimson);
}
.timeline-block{
  width: calc(50% + .5rem);
  display: flex;
  justify-content: space-between;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left{
  float: left;
  direction: rtl;
}
.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-orange);
  border:.3125rem solid var(--primary-dark);
}
.timeline-content{
  width: 95%;
}

/* footer */
.main-footer{
  color: var(--primary-white);
  background-color: var(--primary-red);
  padding-top: 15px;
  position: relative;
  bottom: 0;
  height: 150px;
  width: 100%;
}